In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("mripet_genotype.csv",sep=";")
data

,Name,Genotype,Order
0,IGN_CLBP001_01,GG,IGN_CLBP001_01_suv_orientOK_skullstripped.nii.gz
1,IGN_CLBP001_02,GG,IGN_CLBP001_02_suv_orientOK_skullstripped.nii.gz
2,IGN_CLBP002_01,GG,IGN_CLBP002_01_suv_orientOK_skullstripped.nii.gz
3,IGN_CLBP002_02,GG,IGN_CLBP002_02_suv_orientOK_skullstripped.nii.gz
4,IGN_CLBP003_01,GG,IGN_CLBP003_01_suv_orientOK_skullstripped.nii.gz
...,...,...,...
1007,NaN,NaN,NaN
1008,NaN,NaN,NaN
1009,NaN,NaN,NaN
1010,NaN,NaN,NaN
1011,NaN,NaN,NaN

In [64]:
# data

#

In [19]:
names= data.Name.dropna()

names_clbp = [i[:11] for i in names if "IGN" in i]
names_hc = [i[:12] for i in names if "HC" in i]
names_koa = [i[:13] for i in names if "PBRKOA_K" in i]

clb_uniques, clb_counts = np.unique(names_clbp, return_counts=True)
koa_uniques, koa_counts = np.unique(names_koa, return_counts=True)
hc_uniques, hc_counts = np.unique(names_hc, return_counts=True)

print("CLB", len(clb_uniques), len(names_clbp), len(clb_uniques)/len(names_clbp) )

print("HC", len(hc_uniques), len(names_hc),len(hc_uniques)/len(names_hc))

print("KOA", len(koa_uniques), len(names_koa), len(koa_uniques)/len(names_koa))

CLB 80 163 0.49079754601226994
HC 43 44 0.9772727272727273
KOA 48 96 0.5

In [20]:
# Function to get counts by occurrences (1, 2, 3, 4) and total count
def count_occurrences(counts):
    count_1 = sum(counts == 1)
    count_2 = sum(counts == 2)
    count_3 = sum(counts == 3)
    count_4 = sum(counts == 4)
    total = len(counts)
    return count_1, count_2, count_3, count_4, total

# Get counts for each category
clb_1, clb_2, clb_3, clb_4, clb_total = count_occurrences(clb_counts)
koa_1, koa_2, koa_3, koa_4, koa_total = count_occurrences(koa_counts)
hc_1, hc_2, hc_3, hc_4, hc_total = count_occurrences(hc_counts)

# Display the results with total counts
print(f"CLB -> 1 count: {clb_1}, 2 counts: {clb_2}, 3 counts: {clb_3}, 4 counts: {clb_4}, Total: {clb_total}")
print(f"HC -> 1 count: {hc_1}, 2 counts: {hc_2}, 3 counts: {hc_3}, 4 counts: {hc_4}, Total: {hc_total}")
print(f"KOA -> 1 count: {koa_1}, 2 counts: {koa_2}, 3 counts: {koa_3}, 4 counts: {koa_4}, Total: {koa_total}")

CLB -> 1 count: 0, 2 counts: 77, 3 counts: 3, 4 counts: 0, Total: 80
HC -> 1 count: 42, 2 counts: 1, 3 counts: 0, 4 counts: 0, Total: 43
KOA -> 1 count: 16, 2 counts: 16, 3 counts: 16, 4 counts: 0, Total: 48

In [25]:
clb_1+clb_2*2+clb_3*3+clb_4*4, koa_1+koa_2*2+koa_3*3+koa_4*4, hc_1*1+hc_2*2

(163, 96, 44)

In [11]:
16*3+16*2+16, len(names_koa), len(names_clbp), len(names_hc)

(96, 96, 163, 44)

In [13]:
96+163+44, len(clb_uniques)+len(koa_uniques)+len(hc_uniques)

(303, 171)

In [24]:
# Extract the subject ID (ignoring the _idx part) to identify unique subjects
data['Subject_ID'] = "_".join(data['Name'].str.split("_"))[:-1]
# Count the number of unique subjects
unique_subjects = data['Subject_ID'].nunique()

# Identify repeated scans by counting occurrences of each subject ID
repeated_scans = data['Subject_ID'].value_counts()

# Display the results
unique_subjects, repeated_scans[repeated_scans > 1]

TypeError: sequence item 0: expected str instance, list found

In [35]:
data["Name"].str.split("_")

0            [IGN, CLBP001, 01]
1            [IGN, CLBP001, 02]
2            [IGN, CLBP002, 01]
3            [IGN, CLBP002, 02]
4            [IGN, CLBP003, 01]
                 ...
198    [PBRKOA, KOA024, 060519]
199    [PBRKOA, KOA025, 062619]
200    [PBRKOA, KOA025, 080619]
201    [PBRKOA, KOA025, 090220]
202    [PBRKOA, KOA026, 060619]
Name: Name, Length: 202, dtype: object